<?xml version="1.0" encoding="UTF-8"?>
<configuration >
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

    <springProperty scope="context" name="spring.application.name" source="spring.application.name"
                    defaultValue="service"/>

    <springProperty scope="context" name="spring.rabbitmq.host" source="spring.rabbitmq.host"
                    defaultValue="rabbit"/>
    <springProperty scope="context" name="spring.rabbitmq.port" source="spring.rabbitmq.port"
                    defaultValue="5672"/>

    <springProperty scope="context" name="spring.rabbitmq.username" source="spring.rabbitmq.username"
                    defaultValue="user"/>

    <springProperty scope="context" name="spring.rabbitmq.password" source="spring.rabbitmq.password"
                    defaultValue="admin"/>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread, %X{X-B3-TraceId:-},%X{X-B3-SpanId:-}] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    
    <appender name="AMQP" class="org.springframework.amqp.rabbit.logback.AmqpAppender">
        <encoder
                class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc /> <!-- MDC variables on the Thread will be written as JSON fields -->
                <context /> <!--Outputs entries from logback's context -->
                <version /> <!-- Logstash json format version, the @version field in the output -->
                <logLevel />
                <loggerName />

                <pattern>
                    <pattern>
                        {
                        "service": "${spring.application.name}"
                        }
                    </pattern>
                </pattern>

                <threadName />
                <message />
                <logstashMarkers />
                <stackTrace />
            </providers>
        </encoder>

        <!-- RabbitMQ connection -->
        <host>${spring.rabbitmq.host}</host>
        <port>${spring.rabbitmq.port}</port>
        <username>${spring.rabbitmq.username}</username>
        <password>${spring.rabbitmq.password}</password>
        <applicationId>api-service-4</applicationId>
        <routingKeyPattern>logstash</routingKeyPattern>
        <declareExchange>true</declareExchange>
        <exchangeType>direct</exchangeType>
        <exchangeName>ex_logstash</exchangeName>
        <generateId>true</generateId>
        <charset>UTF-8</charset>
        <durable>true</durable>
        <deliveryMode>PERSISTENT</deliveryMode>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="AMQP"/>
    </root>
</configuration>